<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ChapterOneName</string>
	<key>Pages</key>
	<array>
		<string>01-Basic.playgroundpage</string>
		<string>02-Gray.playgroundpage</string>
		<string>03-Binarize.playgroundpage</string>
		<string>04-AveFilter.playgroundpage</string>
		<string>05-Filter.playgroundpage</string>
		<string>06-Accelerate.playgroundpage</string>
		<string>07-Accelerate2.playgroundpage</string>
		<string>08-Edge.playgroundpage</string>
		<string>09-Vision.playgroundpage</string>
	</array>
</dict>
</plist>
