<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>ChapterOneName</string>
	<key>Pages</key>
	<array>
		<string>Basic.playgroundpage</string>
		<string>Gray.playgroundpage</string>
		<string>Binarize.playgroundpage</string>
		<string>AveFilter.playgroundpage</string>
		<string>Filter.playgroundpage</string>
		<string>Accelerate2.playgroundpage</string>
	</array>
</dict>
</plist>
